
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#random_container_id {
  width: 300px;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
  display: inline-block;
}

#random_text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
  -webkit-user-select: none;
  user-select: none;
}

#sha256_container_id {
  width: 300px;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
  display: inline-block;
}

#sha256_text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
  -webkit-user-select: none;
  user-select: none;
}

#aesgcmE_container_id {
  width: 300px;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
  display: inline-block;
}

#aesgcmE_text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
  -webkit-user-select: none;
  user-select: none;
}

#aesgcmD_container_id {
  width: 300px;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
  display: inline-block;
}

#aesgcmD_text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
  -webkit-user-select: none;
  user-select: none;
}